* {
    margin: 0px;
    padding: 0px;
}

h1{
    width: 80%;
    margin: 0px auto;
    font-family: monospace;
    text-align: center;
    text-shadow: 1px 1px 1px;
    margin-bottom: 50px;
}

#container {
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin: 50px
}

#container img{
    flex: 0 1 50px;
}
#container img:hover{
    height: 180px;
    width: 180px;
}
h2{
    font-size: 30px;
}
#divResult {
    text-align: center;
}
#divResult img{
    margin-top: 50px;
}
#scores{
     margin-top: 30px;
     margin-bottom: 30px;
     text-align: center;
}
#gameResult {
    text-align: center;
    color: green;
    font-size: 40px;
}
